.container
    .row
        .col-sm-7.col-md-8
            nav
                ul.list-unstyled
                    li
                        a.logo-link(
                            href='/booking/'
                            target="_self"
                        ) 
                            | New Shipment
                    li
                        a(
                            href='#{configs.hangarA.wordpress}/about/'
                            target="_self"
                        ) 
                            | About Us
                    li
                        a(
                            href='#{configs.hangarA.wordpress}/contact-us/'
                            target="_self"
                        ) 
                            | Contact Us
                    li
                        a(
                            href='#{configs.hangarA.wordpress}/terms-of-service/'
                            target="_self"
                        ) 
                            | Terms of Service
                    li
                        a(
                            href='#{configs.hangarA.wordpress}/privacy-policy/'
                            target="_self"
                        ) 
                            | Privacy Policy
        .footer-col-right.col-sm-5.col-md-4
            a.footer-logo.logo-link(
                href='#{configs.hangarA.wordpress}/'
                target="_self"
            )
                img(
                    src='/images/Logo-Dark.png'
                    alt='Hangar A'
                )
            ul.list-inline
                li
                    a.logo-link(
                        href='https://www.linkedin.com/company/hangara'
                        target="_blank"
                    ) 
                        img(
                            src="/images/Linkedin.png"
                            alt="LinkedIn"
                            width="32"
                        )
                li
                    a(
                        href='https://www.facebook.com/HangarA.Air.Cargo'
                        target="_blank"
                    ) 
                        img(
                            src="/images/Facebook.png"
                            alt="Facebook"
                            width="32"
                        )
                li
                    a(
                        href='https://twitter.com/hangar_a'
                        target="_blank"
                    ) 
                        img(
                            src="/images/Twitter.png"
                            alt="Twitter"
                            width="32"
                        )
    .row
        .col-sm-8.col-md-8
            p.footer-secondary
        .footer-col-right.col-sm-4.col-md-4
            p.copyright
                | &copy; Copyright 2015 Hangar A. 
                span.hidden-sm All rights reserved.