.container
    .row
        .col-lg-10.mx-lg-auto.mt-5
            h1=meta.title
            .text-muted.mb-5=meta.published
            | !{content}
    .row
        .col-lg-10.mx-lg-auto
            ul.list-inline
                each tag in meta.tags
                    li.list-inline-item
                        span.badge-secondary.badge=tag

    .row
        .col-lg-10.mx-lg-auto.my-5
            include ../../includes/about
link(
    rel="stylesheet",
    type="text/css",
    href="//atom.github.io/highlights/examples/atom-dark.css"
)